EARTHLENS_MODEL_PATH=models/npk_model.joblib
EARTHLENS_CORS_ORIGINS=http://localhost:5173,http://localhost:8443
EARTHLENS_MAX_UPLOAD_BYTES=367001600
EARTHLENS_MAX_CSV_ROWS=2000000
EARTHLENS_MAX_CSV_COLUMNS=4096
